.setup-gameboard-square {
    background-color: white;
    aspect-ratio: 1;
    border: black solid 1px;
}

.user-hitboard-square {
    background-color: white;
    aspect-ratio: 1;
    border: black solid 1px;
}

.setup-gameboard-square-ship {
    background-color: darkblue;
    aspect-ratio: 1;
    border: white solid 1px;
}

.tab {
    padding: 4vh;
}

.ship {
    background-color: darkblue;
    height: 4vh;
    border: 1px black solid;
    aspect-ratio: 1;
}

.ship-container {
    margin: 20px;
    width:200px;
    padding:3px;
}

.enemy-ship-container {
    margin: 20px;
    width:200px;
    padding:3px;
}

.setup-error-message {
    color:red; 
    left: 43%; 
    text-align: center; 
    position: fixed; 
    display:none;
    background-color: white;
    padding:1%;
}