.gameboard-square {
    background-color: white;
    aspect-ratio: 1;
    border: black solid 1px;

}

.tab {
    padding: 4vh;
}

.ship {
    background-color: red;
    height: 4vh;
    border: 1px black solid;
    aspect-ratio: 1;
}

.ship-container {
    margin: 20px;
    width:200px;
}